<% include ./partials/header %>

<div class="ui container" id="registerForm">
    <h1>Register a new user</h1>
    <form class="ui form" action="/register" method="POST">
        <div class="field">
            <input type="text" name="username" placeholder="Username">
        </div>
        <div class="field">
            <input type="password" name="password" placeholder="Password">
        </div>
        <div class="field">
            <button class="ui basic green button">Submit</button>
        </div>
    </form>
</div>

<% include ./partials/footer %>